OAUTH_TOKEN = y0__

# ID организации в Yandex 360
ORG_ID = 1234567

USERS_FILE = users.csv

# Режим пробного запуска (true/false)
DRY_RUN = False

# ID и секрет сервисного приложения для доступа к API Yandex 360
SERVICE_APP_ID = 8249314f
SERVICE_APP_SECRET = d6b2411

# Режим подробного логирования (true/false)
VERBOSE_LOGGING = false

# ─────────────────────── Параметры для y360_disk.py ───────────────────────

# Список через запятую меток (hash) общего диска в Яндекс 360
VD_HASHES = ajAWqYhxxxxxx, 6DE3vqxxxxxxx, bKIcNxxxxxxx, gC4mIixxxxxxx

# Путь к входному файлу с ресурсами диска
DISK_RESOURCE_INPUT_FILE = input_disk_resources.csv

# Путь к выходному CSV-файлу с метаданными ресурсов
RESOURCE_OUTPUT_FILE = resource_info.csv

# Путь к файлу для экспорта/импорта данных API сервисных приложений
SERVICE_APP_API_DATA_FILE = service_app_api_data.json

# Режим вывода списка ресурсов: true - один файл на весь запуск, false - отдельный файл на каждый диск/пользователя
SINGLE_REPORT_FILE = false